<li class="active treeview">
  <a href="#">
    <i class="fa fa-dashboard"></i> <span>Dashboard</span>
    <span class="pull-right-container">
      <i class="fa fa-angle-left pull-right"></i>
    </span>
  </a>
  <ul class="treeview-menu"> <!-- has menu-open -->
    <li class="active"><a href="/"><i class="fa fa-circle-o"></i> Overview</a></li>
    <li><a href="/cvstream"><i class="fa fa-circle-o"></i> Pending Model Training</a></li>
    <li><a href="#"><i class="fa fa-circle-o"></i> Balance Sheet</a></li>
    <li><a href="/blank"><i class="fa fa-circle-o"></i> Personal</a></li>
  </ul>
</li>
